<img src="<%=ice_cream.get("image_url")%>" style="width:200px;height:200px">
<br>
<a href="#ice_creams/<%=ice_cream.get("id")%>">
<%= ice_cream.get("flavor") %></a>
<br>
<p>rating</p>
<div id="average-rating-<%= ice_cream.get('id') %>">
<p>Average rating</p>
</div>

<div id="my-rating-<%= ice_cream.get('id') %>">
<p>Your rating</p>
</div>

<% if(!XiFinalProject.currentUser.reviewedIceCreams().get("<%= ice_cream.get('id') %>") && !XiFinalProject.currentUser.refrigeratedIceCreams().get("<%= ice_cream.get('id') %>")){ %>
<button type="button" data-ice-cream-id="<%= ice_cream.get('id') %>">NiceBox It</button>
<% } %>
