
<img class="icecream" src="<%=ice_cream.get("image_url")%>">

<div class="icecream-info">
	<h3 class="flavor"><a href="#ice_creams/<%=ice_cream.get("id")%>">
	<%= ice_cream.get("flavor") %></a></h3><p class="shop"> from Gino's</p>
	<br>
	<div id="average-rating-<%= ice_cream.get('id') %>">
		<p>Average rating</p>
	</div>

	<div class="my-rating" id="my-rating-<%= ice_cream.get('id') %>">
		<p>Your rating</p>
	</div>
	<br>

	<% if(!XiFinalProject.currentUser.reviewedIceCreams().get(ice_cream.id) && !XiFinalProject.currentUser.refrigeratedIceCreams().get(ice_cream.id)) { %>
	<button class="btn-primary rounded-corners" type="button" data-ice-cream-id="<%= ice_cream.get('id') %>">NiceBox It</button>
	<% } %>

	<% if(XiFinalProject.currentUser.refrigeratedIceCreams().get(ice_cream.id)) { %>
	<a href="#home">NiceBoxed</a>
	<% } %>
</div>
