<!DOCTYPE html>
<html>
<head>
  <title>NiceCreams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <%= csrf_meta_tags %>

  <script>
    filepicker.setKey("AZFWUwDTpmgQMlO9qN2cgz"); 
  </script>
</head>
<body>

<%= render partial: "layouts/header" %>

<%= yield %>


 <script>
   	$("button#guest-login").on("click", function(){
			$('#user-name').val('guest');
			$('#pass-word').val('password');
			$('#sign-in').click();
  	})
  </script>

</body>
</html>
