<!DOCTYPE html>
<html>
<head>
  <title>XiFinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/header" %>

<%= yield %>
 <script type="text/javascript"
 		src="//api.filepicker.io/v1/filepicker.js">
 </script>

 <script>
   	$("button#guest-login").on("click", function(){
			$('#user-name').val('xi');
			$('#pass-word').val('password');
			$('#sign-in').click();
  	})
  </script>

</body>
</html>
